<!DOCTYPE html>
<!Antonia Test>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FARMASIST</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Angular-UI-accordion/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/Content/angular-bootstrap-toggle.css" rel="stylesheet" />
    <script src="~/Scripts/angular-bootstrap-toggle.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/background.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FARMASIST", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("PACIENT", "About", "Home")</li>
                    <li>@Html.ActionLink("MEDIC", "About", "Home")</li>
                    <li>@Html.ActionLink("FARMACIST", "Farmacist", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
